body {
  background-image: url('/public/images/nightsky2.jpg');
  background-size: cover;
}



@keyframes morph {
  0%, 100%{
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }
  33% {
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
  }
  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56% ;
  }
}

.container {
  display:flex;
  flex-direction: row;
}

#planets {
  overflow: hidden; 
  width: 10rem;
  height: 8rem;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background-image: url('/public/images/nightsky2.jpg');
  background-size: cover;
  animation: morph 3.75s linear infinite;
  margin-left: 200px;
  margin-top:90px;
  padding: 90px;
  text-align:center;
  white-space: wrap;
  overflow: scroll ;
  text-overflow: ellipsis;
  color: rgb(233, 228, 228);
  cursor: pointer;
}

.people-in-space{
  overflow: hidden; 
  width: 10rem;
  height: 8rem;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background-image: url('/public/images/nightsky2.jpg');
  background-size: cover;
  animation: morph 3.5s linear infinite;
  margin-left: 700px;
  margin-top:40px;
  padding: 30px;
  text-align:center;
  white-space: wrap;
  overflow: scroll ;
  text-overflow: ellipsis;
  color: rgb(233, 228, 228);
  cursor: pointer;
}

#planet-image{
  display:flex;
  justify-content: center;
  width:300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid rgba(233, 228, 228, 0.476);
  background-size: contain;
}

li {
  color:rgb(233, 228, 228);
  list-style:none;
}

.details-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



