body {
  background-image: url('/public/images/nightsky2.jpg');
  background-size: cover;
  background-attachment: fixed;
}

@keyframes morph {
  0%, 100%{
    border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  }
  33% {
    border-radius: 72% 28% 48% 48% / 28% 28% 72% 72%;
  }
  66% {
    border-radius: 100% 56% 56% 100% / 100% 100% 56% 56% ;
  }
}

.container {
  display:flex;
  flex-direction: row wrap;
}

#planets {
  overflow: hidden; 
  width: 10rem;
  height: 8rem;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background-image: url('/public/images/nightsky2.jpg');
  background-size: cover;
  animation: morph 3.75s linear infinite;
  margin-left: 200px;
  margin-top:90px;
  padding: 90px;
  text-align:center;
  white-space: wrap;
  text-overflow: ellipsis;
  color: rgb(233, 228, 228);
  cursor: pointer;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  text-align: left;
}

.people-in-space{
  overflow: hidden; 
  width: 10rem;
  height: 8rem;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background-image: url('/public/images/nightsky2.jpg');
  background-size: cover;
  animation: morph 3.5s linear infinite;
  margin-left: 700px;
  margin-top:40px;
  padding: 30px;
  text-align:center;
  white-space: wrap;
  text-overflow: ellipsis;
  color: rgb(233, 228, 228);
  cursor: pointer;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
}

#moon {
  overflow: hidden; 
  width: 10rem;
  height: 8rem;
  border-radius: 42% 56% 72% 28% / 42% 42% 56% 48%;
  background-image: url('/public/images/nightsky2.jpg');
  background-size: cover;
  animation: morph 2.75s linear infinite;
  margin-left: 400px;
  margin-top:90px;
  padding: 130px;
  text-align:center;
  white-space: wrap;
  text-overflow: ellipsis;
  color: rgb(233, 228, 228);
  cursor: pointer;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 20px;
  text-align: center;
}

#quiz {
  overflow: hidden; 
  width: 10rem;
  height: 8rem;
  border-radius: 22% 26% 22% 28% / 22% 22% 26% 28%;
  background-image: url('/public/images/nightsky2.jpg');
  background-size: cover;
  animation: morph 8.75s linear infinite;
  margin-left: 800px;
  margin-top:60px;
  padding: 80px;
  text-align:center;
  white-space: wrap;
  text-overflow: ellipsis;
  color: rgb(233, 228, 228);
  cursor: pointer;
  font-family: 'Ubuntu Mono', monospace;
  font-size: 30px;
  text-align: center;
}

#planet-image{
  display:flex;
  justify-content: center;
  width:400px;
  height: 300px;
  border: 1px solid rgba(233, 228, 228, 0.476);
  border-radius: 10px;
  background-size: contain;
}

#moon-image  {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid rgba(233, 228, 228, 0.476);
  background-size: contain;
}

li {
  color:rgb(233, 228, 228);
  list-style:none;
}

.details-container {
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  column-gap: 10px;
}

#description{
  width:400px;
  height: 300px;
  border: 1px solid rgba(233, 228, 228, 0.476);
  border-radius: 10px;
  color:rgb(233, 228, 228);
  font-family: 'Ubuntu Mono', monospace;
  background-color: black;
}

.answer-div{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-div >li {
  border: 1px solid rgba(233, 228, 228, 0.476);
  background-color: #ffffff92;
  padding: 1em 2em;
  margin-top: 10px;
  cursor: pointer;
  
}

h1{
  color:rgb(233, 228, 228);
  font-family: 'Poppins', sans-serif;
  text-align: center;

}

h3 {
  color:rgb(233, 228, 228);
  font-family: 'Poppins', sans-serif;
}

button {
  padding: 0.5em 0.8em;
  border: 0.05em solid #FFFFFF;
  background: transparent;
  color:#FFFFFF;
  cursor:pointer;
  margin-left: 1em;
  font-family: 'Poppins', sans-serif; 
}





/* font-family: 'Gravitas One', cursive;
  font-family: 'Playfair Display', serif; */
  /* font-family: 'Poppins', sans-serif;  */